@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
    /* text-decoration: underline; */
    border: 2px solid;
    border-radius: 5px;
    padding:0px 10px;
    color: #DB2777;
    font-weight: bold;
    font-size: larger;
}

.textShadow{
    text-shadow: 3px 2px #DB2777;
}

.pagination button{
    width:100px;
    background-color: rgb(40, 45, 51);
    border: 1px soild black;
    border-radius: 5px;
    margin-right: 4px;
    color: white;
}
.pagination .selected{
    background-color:  #DB2777;
}